.nav{
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: pink;
    justify-content: space-around;
    align-items: center;
}
.nav-items > ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    margin: 0 10px 0 10px;
}

.body{
    height: 90vh;
    background-color:blueviolet;
}
